---
layout: default
---

<div class="home">

  <!--<h1 class="page-heading">Posts</h1>-->
  <div class="push-l-45">
<pre class="mono">
------------------------------------------
<span id="cowsay-output">
</span>
------------------------------------------
    \   ^__^
     \  (oo)\_______
        (__)\       )\/\
            ||----w |
            ||     ||
</pre>
  </div>

  <script type="application/javascript">
      {% include scripts/say.js %}

      let el = document.getElementById('cowsay-output');
      el.innerText = '';
      el.innerHTML = '';
      let l = 0;
      cowsay(fortune()).split('\n').forEach(line => {
          let span = document.createElement('span');
          span.innerText = line;
          el.appendChild(span);
          el.appendChild(document.createElement('br'));
      });
  </script>

  <div style="margin-top: 10px;margin-bottom: 20px">
    {% for post in site.posts %}
    <div style="width: 100%;margin-top: 5px;">
      <div style="display: inline-block;">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title | escape}}
        </a>
      </div>
      <div style="display: inline-block;float: right;padding-right: 100px">
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
